@{
    ViewBag.Title = "Email Confirmation";
    Layout = "~/Views/Shared/_Gen_Layout.cshtml";
}

<section class="row content" style="margin-top: 80px; margin-bottom: 50px">
    <div class="col-md-4"></div>
    <div class="col-md-4 box box-info" style="width: 33.3333%;">
        <div class="row modal-header" style="margin-bottom: 15px">
            <div class="row" style="text-align: center">
                <div class="col-md-12 no-padding">
                    <h4 class="access-header" style="font-weight: bold">
                        Email Confirmation
                    </h4>
                </div>
            </div>
        </div>
        <div class="form-group has-feedback">
            @{
                if (ViewBag.Code > 0)
                {
                    <br /><br />
                    <p style="color:  #6a9c32; font-weight: bold">
                        @ViewBag.Message<br /><br />
                        Please &nbsp; <a href="@Url.Action("Login", "Account")" style="color: #008000">Click here to Log in</a>
                    </p>
                }
                else
                {
                    <br /><br />
                    <p style="color: #f15f43; font-weight: bold">
                        @ViewBag.Message
                    </p>
                }
            }
           
            <br/>
            
        </div>
      
        <hr />
        <div class="row">
            <div class="col-md-4">
                
            </div>
        </div>
        <br />
    </div>
    <div class="col-md-4"></div>
</section>
