
@model Crims.UI.Web.Models.LoginViewModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Gen_Layout.cshtml";
}

<section class="row content" style="margin-top: 60px; margin-bottom: 50px">
    <div class="col-md-4"></div>
    <div class="col-md-4 box box-info" style="width: 33.3333%;">
        <div class="row modal-header" style="margin-bottom: 15px">
            <div class="row" style="text-align: center">
                <div class="col-md-12 no-padding">
                    <h4 class="access-header" style="font-weight: bold">
                        Reset your Password
                    </h4>
                </div>
            </div>
        </div>
        <div class="form-group has-feedback">
            <input type="password" placeholder="Password *" class="form-control" id="password" style="padding-right: 42.5px; font-size: 18px; margin: 10px 0 0;">
        </div>
        <div class="form-group has-feedback">
            <input type="password" placeholder="Confirm Password *" class="form-control" id="confirmPassword" style="padding-right: 42.5px; font-size: 18px; margin: 10px 0 0;">
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-block btn-primary" type="button" onclick="changePassword()" style="float: right; font-weight: bold; border: none; -ms-border-radius: 0; border-radius: 0; background-color: #099d77">Go!</button>
            </div>
        </div>
        <br/>
        <hr/>
    </div>
    <div class="col-md-4"></div>
</section>


<script type="text/javascript">

    var baseUrl = '@Url.Content("~")'.replace(/\/$/, '');

    function changePassword()
    {
        var email = "@ViewBag.Email";
        var code = "@ViewBag.passCode";

        var password = $('#password').val();
        var confirmPassword = $('#confirmPassword').val();

        if (password === undefined || password === null || password.length < 1) {
            alert('Please provide your Password');
            return;
        }
       
        if (email.length < 1 || code.length < 1)
        {
            alert('An unknown error was encountered. Please try again later');
            return;
        }

        if (confirmPassword === undefined || confirmPassword === null || confirmPassword.length < 1)
        {
            alert('Please Confirm your Password');
            return;
        }
        if (password !== confirmPassword)
        {
            alert('The passwords do not match');
            return;
        }

        var payload =
                {
                    Email: email,
                    Password: password,
                    ConfirmPassword: confirmPassword,
                    Code: code
                };

        $.ajax({
            type: "POST",
            url: baseUrl + '/Account/ResetPassword',
            contentType: "application/json",
            dataType: 'json',
            data: JSON.stringify({ model: payload }),
            beforeSend: function () { $('.showBusy').fadeIn();},
            success: function (response)
            {
                $('.showBusy').fadeOut();
                alert(response.Message);
                if (response.Code < 1)
                {
                    return;
                }
                window.location.href = baseUrl + "/Home";
            }
        });
    }
</script>